*
{
    
}

body
{
    background-color: #ff69d1;
    font-family: cursive;
}

h1
{

}

.title
{
    text-align: center;
    color: #17ff00;
}

.console
{
    padding-left: 60px;
    margin: 30px 0px;
}

.consoleinput
{
    margin: 0px 7px;
}

.consolebtn
{

}

.insertbtn
{

}

.resetbtn
{

}

.clearbtn
{

}

svg
{

}

.llcontainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

#ll1container
{

}

.llcont-item
{
    
}

/* #main-svg */
.display
{
    width: 76%;
    /* height: 500px; */
}

@media(max-width:476px)
{
    .display
    {
        width: 100%;
    }
}

.llalgo
{

}

.llalgolist
{

}

.algoitem
{

}

.algobtn
{
    
}

/* #main-svg>rect */
.display>rect
{
    height: 100%;
    width: 100%;
    fill: deepskyblue;
}

circle
{
    fill: deeppink;
    stroke: #16f500;
    stroke-width: 4;
}

text
{
    font-size: 24px;
}

.whitetxt
{
    fill: white;
}

.outtxt
{
    fill: none;
}